body
{
	font-family: "Segoe UI";
	color: white;
	background-color: rgb(25,25,25);
	text-align: justify;
	font-size: large;
}

.nav-list
{
	display: flex;
	justify-content: center;
}

.nav-item
{
	display: inline-block;
	width: 20%;
	margin: 0 5%;
}

.home-title
{
	display: flex;
	justify-content: center;
}

.home-img
{
	display: flex;
	justify-content: center;
}

.section-title
{
	display: flex;
	justify-content: center;
}

.about-section
{
	margin: 0 10% 0;
}

.formation-section
{
	margin: 0 10% 0;
}

.skills-section
{
	margin: 0 10% 0;
}

.projects-section
{
	margin: 0 10% 0;
}

td
{
	padding: 5px 10px 0px 0px; /*top, right, bottom, left*/
}

.contact-section
{
	margin: 0 10% 0;
}
