@media only screen and (min-width: 0px) and (max-width: 420px) {
    div {
        background-color: cadetblue;

        h2::before {
            content: 'cadeblue';
        }
    }
}

@media only screen and (min-width: 421px) and (max-width: 768px) {
    div {
        background-color: orangered;

        h2::before {
            content: 'OrangeRed ';
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    div {
        background-color: pink;

        h2::before {
            content: 'Pink';
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1080px) {
    div {
        background-color: red;

        h2::before {
            content: 'Red';
        }
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1366px) {
    div {
        background-color: purple;

        h2::before {
            content: 'Purple';
        }
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
    div {
        background-color: yellow;

        h2::before {
            content: 'Amarrelou';
        }
    }
}

@media only screen and (min-width: 1921px){
    div {
        background-color: cadetblue;

        h2::before {
            content: 'cadeblue';
        }
    }
}